<div class="field">
<%= form_for :race do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  <%= f.label :description %>:
  <%= f.text_field :description %><br />
  <%= f.label :start %>:
  <%= f.text_field :start %><br />
  <%= f.label :end %>:
  <%= f.text_field :end %><br />
  <%= f.label :budget %>:
  <%= f.text_field :budget %>
  <%= f.submit %>
<% end %>
</div>