<!DOCTYPE html>
<html>
<head>
  <title>FitbetApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<nav id="menu">
			<ul>
				<li><%= link_to "home", root_url %></li>
				<li><%= link_to "view races", races_path %></li>
				<li><%= link_to "create a race", new_race_path %></li>
				<li><%= link_to "Sign in with FitBit", "http://www.fitbit.com/oauth/authorize" %></li>
				<div id="container">
  					<div id="user_nav">
					    <% if user_signed_in? %>
					      Logged in as <strong><%= current_user.email %></strong>.
					      <%= link_to 'Edit profile', edit_user_registration_path %> |
					      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
					    <% else %>
					      <%= link_to "Sign up", new_user_registration_path %> |
					      <%= link_to "Login", new_user_session_path %>
					    <% end %>
  				</div>
  		</nav>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>
			</ul>
		</nav>
		<div id="container">
			<%= yield %>
		</div>
	</body>
</html>
